.home-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.tShirt-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

@media screen and (max-width: 1279px) {

    .tShirt-container {

        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {

    .tShirt-container {

        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 480px) {

    .tShirt-container {

        grid-template-columns: 1fr;
    }

    .order-container {

        grid-template-columns: 1fr;
    }
}